<!-- Display the title of the page in the HTML, which can help SEO -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Display Messages -->
<%- messages() %>

<!-- Display Errors -->
<% if (errors) { %>
<ul class="notice">
	<% errors.array().forEach(error => { %>
	<li><%= error.msg %></li>
	<% }) %>
</ul>
<% } %>

<!-- Displays the Classification form -->

<form class="login" action="/inv/add-inventory" method="post">
	<label
		>Vehicle Make:
		<input
			type="text"
			id="inv_make"
			name="inv_make"
			pattern="^[A-Za-z0-9]+$"
			required
			value="<%= locals.inv_make %>" />
	</label>
	<label
		>Vehicle Model:
		<input
			type="text"
			id="inv_model"
			name="inv_model"
			pattern="^[A-Za-z0-9]+$"
			required
			value="<%= locals.inv_model %>" />
	</label>
	<label
		>Vehicle Year:
		<input
			type="number"
			id="inv_year"
			name="inv_year"
			maxlength="4"
			minlength="4"
			required
			value="<%= locals.inv_year %>" />
	</label>
	<label
		>Vehicle Description:
		<input
			type="text"
			id="inv_description"
			name="inv_description"
			required
			value="<%= locals.inv_description %>" />
	</label>
	<!-- Image and Thumbnail url for sending in request to imitate a real req -->
	<label>
		<input
			type="hidden"
			id="inv_image"
			name="inv_image"
			value="/images/vehicles/no-image.png" />
	</label>
	<label>
		<input
			type="hidden"
			id="inv_thumbnail"
			name="inv_thumbnail"
			value="/images/vehicles/no-image-tn.png" />
	</label>
	<label
		>Vehicle Price:
		<input
			type="number"
			id="inv_price"
			name="inv_price"
            min="0"
			required
			value="<%= locals.inv_price %>" />
	</label>
	<label
		>Vehicle Miles:
		<input
			type="number"
			id="inv_miles"
			name="inv_miles"
			required
			value="<%= locals.inv_miles %>" />
	</label>
	<label
		>Vehicle Color:
		<input
			type="text"
			id="inv_color"
			name="inv_color"
			pattern="^[A-Za-z0-9 ]+$"
			required
			value="<%= locals.inv_color %>" />
	</label>
	<label
		>Vehicle Classification:
		<!-- Dynamically generated in utilities/index.js -->
		<%- dropDown %>
	</label>
	<input type="submit" value="Create Classification" />
</form>
